<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>DART</title>

<!-- Custom fonts for this template-->
<link rel="shortcut icon" th:href="@{/dist/img/mid1.png}" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-login-image">
							
							</div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
									    <img src="./dist/img/mid1.png" style="height:100%;width:100%"></img>
										<!--  <p class="h4 text-gray-900 mb-4" style="font-weight:bold">Welcome to DART!</p>-->
									</div>

									<form class="user" name="f" th:action="@{/ABDocs}"
										method="post">
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												id="exampleInputEmail" aria-describedby="emailHelp"
												placeholder="Username..." name="username" required>
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												id="exampleInputPassword" placeholder="Password"
												name="password" required>
												<br>
												<div class="form-group">
												<input type="checkbox" style = "position:relative; left:10px;" id="show"  onclick="myFunction()">
												<label for="show" Style="position:relative; left:10px;">Show Password</label>   
												</div>
												<input type="hidden" class="form-control form-control-user"
												id="exampleInputPassword" 
												name="Login" value="Login" required>
										</div>
										<input type="submit"
											class="btn btn-primary btn-user btn-block" value="Login " />
										<!--   <a th:href="@{main}" class="btn btn-primary btn-user btn-block">
                                           
                                        </a> -->
										<hr>
										<div th:if="${param.error}" style="color:red;">Invalid username and password.
										
										</div>
										<div th:if="${param.logout}" style="color:green;">Successfully logged out.</div>

									</form>
									<hr>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
<script type="text/javascript">
function myFunction() {
	  var x = document.getElementById("exampleInputPassword");
	  if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
	  }
	}
</script>
</body>

</html>